/* Centering the container both horizontally and vertically */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
}

/* The container class */
.container {
    max-width: 1000px;
    width: 100%; /* Ensure it takes the full width of the parent */
    margin: 20px auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    overflow-y: auto; 
    overflow-x: hidden; 
    max-height: 500px; 
    scroll-behavior: smooth;
    display: flex;
    justify-content:center; /* Horizontally center the content */
}

.responsive-table {
    width: auto; 
    border-collapse: collapse;
    background-color: #1e1e1e;
}

.responsive-table th, .responsive-table td {
    border: 2px solid #ddd;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 1.6;
}

.responsive-table th {
    background-color: #2f49d0;
    color: white;
    font-size: 18px;
}

.responsive-table td {
    font-size: 16px;
}

/* Button Styles */
button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.nested-table {
    margin-top: 20px;
    background: #1e1e1e;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Editable Text Field */
input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    background-color: #f7f7f7;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus {
    border-color: #2f49d0;
    outline: none;
}
